<div class="row">
  <div id="banner" class={{overlay}}>
    <div id="banner-content">
      {{{banner.html}}}
      {{#if currentUser.staff}}
        <p><a href="{{banner.url}}">{{{i18n "banner.edit"}}}</a></p>
      {{/if}}
    </div>
  </div>
</div>
